<div class="wrapper">
<h1>ADMINS DASHBOARD</h1>

<div class="announcements-form">
  <%= form_for @announcement do |f| %>
    <%= f.label :body, "Announcement" %><br>
    <%= f.text_area :body %><br>
    <span class="admins-btn"><%= f.submit %></span>
  <% end %>


  <a href="#" id="edit-announcement-btn">Edit</a>
  <a href="#" id="done-announcement-btn">Done editing</a>

  <div class="announcement-board">
  <% @announcements.each do |announcement| %>

    <div class="edit-announcement">
      <ul>
        <li class="fa fa-pencil">  <%= best_in_place announcement, :body, as: :textarea, url: announcement_path(announcement.id) %>  <span class="delete"><%= link_to "Delete", announcement_path(announcement.id), method: :delete %></span></li>
      </ul>
    </div>

    <div class="announcement-container">
      <ul>
        <li><%= best_in_place announcement, :body, as: :textarea, url: announcement_path(announcement.id) %></li>
      </ul>
    </div>

  <% end %>
</div>
</div>

<%= form_for @todo do |f| %>
  <%= f.label :body, "List item" %><br>
  <%= f.text_field :body %><br>
  <span class="admins-btn"><%= f.submit %></span>
<% end %>

<div class="checklist">
  <a href="#" id="edit-checklist-btn">Edit</a>
  <a href="#" id="done-checklist-btn">Done editing</a>

  <% @todos.each do |todo| %>
    <div class="edit-checklist">
      <ul>
        <li class="fa fa-pencil">  <%= best_in_place todo, :body, as: :input, url: todo_path(todo.id) %>  <span class="delete">  <%= link_to "Delete", todo_path(todo.id), method: :delete %></span></li>
      </ul>
    </div>

    <div class="checklist-container">
      <ul>
        <li><%= best_in_place todo, :body, as: :input, url: todo_path(todo.id) %></li>
      </ul>
    </div>
  <% end %>
</div>

<div class="students-list">
  <% @users.each do |user| %>
    <ul>
      <li><%= link_to user.fname, show_user_path(user)  %></li>
    </ul>
  <% end %>
</div>

<%= link_to "Sign-out", destroy_admin_session_path, method: :delete %>

<%= link_to "Send invite", new_user_invitation_path %>
</div>
