<h1>Admins page</h1>

<p>This page has forms/interfaces that allow admins to add students, email group, make announcements, and edit checklists.</p>

<%= form_for @announcement do |f| %>
  <%= f.label :body, "Announcement" %>
  <%= f.text_area :body %>
  <%= f.submit %>
<% end %>


<a href="#" id="edit-announcement-btn">Edit</a>
<a href="#" id="done-announcement-btn">Done editing</a>

<% @announcements.each do |announcement| %>

  <div class="edit-announcement">
    <ul>
      <li class="fa fa-pencil"><%= best_in_place announcement, :body, as: :textarea, url: announcement_path(announcement.id) %></li>
    </ul>
  </div>

  <div class="announcement-container">
    <ul>
      <li><%= best_in_place announcement, :body, as: :textarea, url: announcement_path(announcement.id) %></li>
    </ul>
  </div>

<% end %>

<%= link_to "Sign-out", destroy_admin_session_path, method: :delete %>

<%= link_to "Send invite", new_user_invitation_path %>
