<div class="announcement-container">
  <% @announcements.last(1).each do |announcement| %>
    <p class="announcements"><%= announcement.body %></p>
  <% end %>

  <div class="tweets">
    <% @tweets.each do |tweet| %>
      <span class="tweet"><i class="fa fa-twitter" id="fa-tweet"></i><%= twitter_text(tweet.text) %></span>
    <% end %>
  </div>
  <h3 class="hex-title">Meet WDI Students:</h3>
</div>


<div class="index-wrapper">

  <section class="hex-section">
    <div>
      <% @hex_group_1.each do |user| %>
        <div class="hex-container one">
          <%= render "hex", user: user %>
        </div>
      <% end %>
    </div>
  </section>

  <section class="hex-section">
    <div>
      <% @hex_group_2.each do |user| %>
        <div class="hex-container two">
          <%= render "hex", user: user %>
        </div>
      <% end %>
    </div>
  </section>

  <section class="hex-section">
    <div>
      <% @hex_group_3.each do |user| %>
        <div class="hex-container three">
          <%= render "hex", user: user %>
        </div>
      <% end %>
    </div>
  </section>
</div>





