<div class="announcement-container">
  <% @announcements.last(1).each do |announcement| %>
    <p class="announcements"><%= announcement.body %></p>
  <% end %>

  <div class="tweets">
    <% @tweets.each do |tweet| %>
      <span class="tweet"><i class="fa fa-twitter"></i><%= twitter_text(tweet.text) %></span>
    <% end %>
  </div>
  <!-- <h3 class="hex-title">September 2014 WDI Students:</h3> -->
</div>


<div class="index-wrapper">

  <section class="hex-section">
    <div>
      <% @hex_group_1.each do |user| %>
        <div class="hex-container one">
          <span class="text"><%= link_to user.fname, show_user_path(user) %></span>
          <%= render 'users/hex' %>
        </div>
      <% end %>
    </div>
  </section>

  <section class="hex-section">
    <div>
      <% @hex_group_2.each do |user| %>
        <div class="hex-container two">
          <span class="text"><%= link_to user.fname, show_user_path(user) %></span>
          <%= render 'users/hex' %>
        </div>
      <% end %>
    </div>
  </section>

  <section class="hex-section">
    <div>
      <% @hex_group_3.each do |user| %>
        <div class="hex-container three">
          <span class="text"><%= link_to user.fname, show_user_path(user) %></span>
          <%= render 'users/hex' %>
        </div>
      <% end %>
    </div>
  </section>
  
  
</div>





