<div class="wrapper">
  <p>This should show user's profile</p>
  
  <h3 class="username"><%= @user.fullname %></h3>

  <div class="column">
    <div class="placeholder-img"></div>
    <%= link_to "github", "https://github.com/#{@user.github_username}" %>
    <%= link_to "tumblr", "http://#{@user.tumblr_username}.tumblr.com" %>
    <%= link_to "twitter", "https://twitter.com/#{@user.twitter_username}" %>
    <%= link_to "linked in", "https://www.linkedin.com/in/#{@user.linkedin_username}" %>
  </div>


  <div class="column">

    <% if current_user %>

      <p><i class="fa fa-pencil"></i><%= best_in_place @user, :fname, as: :input, url: edit_user_path(@user) %></p>
      <p><i class="fa fa-pencil"></i><%= best_in_place @user, :lname, as: :input, url: edit_user_path(@user) %></p>
     
      <h4>Location:</h4>
      <p><i class="fa fa-pencil"></i><%= best_in_place @user, :location, as: :input, url: edit_user_path(@user) %></p>

      <h4>Fun Fact About Me:</h4>
      <p><i class="fa fa-pencil"></i><%= best_in_place @user, :fun_fact, as: :textarea, url: edit_user_path(@user) %></p>

      <h4>Goals:</h4>
      <p><i class="fa fa-pencil"></i><%= best_in_place @user, :goal, as: :textarea, url: edit_user_path(@user) %></p>

      <h4>Prior Experience:</h4>
      <p><i class="fa fa-pencil"></i><%= best_in_place @user, :pre_wdi, as: :textarea, url: edit_user_path(@user) %></p>

    <% end %>

  </div>

</div>