<div class="wrapper">

<% if current_admin %>
  <span class="admins-btn"><%= link_to "Admins Dashboard", admins_dashboard_path %></span>
<% end %>

<h3 class="username">
  <span class="update-from-bip", data-name="fname">
    <%= @user.fname %>
  </span>
  <span class="update-from-bip", data-name="lname">
    <%= @user.lname %>
  </span>
</h3>

<div class="column left">
  <div class="profile-image">
    <%= image_tag @user.gravatar_url(default: "wavatar", :size => 200 ) %>
    <div>Edit profile image at:<br />
      <a href="https://en.gravatar.com/" target="_blank">Gravatar.com</a>
    </div>

    <div class="social">
      <%= link_to "https://github.com/#{@user.github_username}" do %>
        <span class="social-icon"><i class="fa fa-github-square"></i></span>
      <% end %>

      <%= link_to "http://#{@user.tumblr_username}.tumblr.com" do %>
        <span class="social-icon"><i class="fa fa-tumblr-square"></i></span>
      <% end %>

      <%= link_to "https://twitter.com/#{@user.twitter_username}" do %>
        <span class="social-icon"><i class="fa fa-twitter-square"></i></span>
      <% end %>

      <%= link_to "https://www.linkedin.com/in/#{@user.linkedin_username}"  do %>
        <span class="social-icon"><i class="fa fa-linkedin-square"></i></span>
      <% end %>
    </div>
  </div>

  <div class="edit-container">
    <div>
      <span class="icon"><i class="fa fa-pencil"></i></span>
      <%= best_in_place @user, :fname, as: :input, url: edit_user_path(@user), class: "bip" %>
    </div>

    <div>
      <span class="icon"><i class="fa fa-pencil"></i></span>
      <%= best_in_place @user, :lname, as: :input, url: edit_user_path(@user), class: "bip"%>
    </div>

    <div>
      <p>LOCATION:</p>
      <span class="icon"><i class="fa fa-pencil"></i></span>
      <%= best_in_place @user, :location, as: :input, url: edit_user_path(@user), class: "bip" %>
    </div>

    <div>
      <p>FUN FACT ABOUT ME:</p>
      <span class="icon"><i class="fa fa-pencil"></i></span>
      <%= best_in_place @user, :fun_fact, as: :textarea, url: edit_user_path(@user), class: "bip" %>
    </div>

    <div>
      <p>GOAL:</p>
      <span class="icon"><i class="fa fa-pencil"></i></span>
      <%= best_in_place @user, :goal, as: :textarea, url: edit_user_path(@user), class: "bip" %>
    </div>

    <div>
      <p>PRIOR EXPERIENCE:</p>
      <span class="icon"><i class="fa fa-pencil"></i></span>
      </i><%= best_in_place @user, :pre_wdi, as: :textarea, url: edit_user_path(@user), class: "bip" %>
    </div>
    <% if current_user?(@user) %>
      <div class="edit-wrapper"><span class="done-btn">Done editing</span></div>
    <% end %>
  </div>


  <div class="profile-container">
    <div>
      <p class="update-from-bip", data-name="location">
      <strong>Location: </strong>
      <%= @user.location %>
      </p>
    </div>

    <div>
      <p class="update-from-bip", data-name="fun_fact">
      <strong>Fun Fact About Me: </strong>
      <%= @user.fun_fact %>
      </p>
    </div>

    <div>
      <p class="update-from-bip", data-name="goal">
      <strong>Goals:</strong>
      <%= @user.goal %>
      </p>
    </div>

    <div>
      <p class="update-from-bip", data-name="pre_wdi">
      <strong>Prior Experience:</strong>
      <%= @user.pre_wdi %>
      </p>
    </div>

    <% if current_user?(@user) %>
      <div class="edit-wrapper"><span class="edit-btn">Edit</span></div>
    <% end %>
  </div>
</div>

<div class="column right">

  <% unless current_user?(@user) || current_admin %>
    <div class="connect">
      <p><strong>GET SOCIAL!</strong></p>
      <p>We strongly encourage you to connect with <%= @user.fname %> on <%= link_to "LinkedIn", "https://www.linkedin.com/in/#{@user.linkedin_username}" %>, <%= link_to "Twitter", "https://twitter.com/#{@user.twitter_username}" %>, <%= link_to "Tumblr", "http://#{@user.tumblr_username}.tumblr.com" %>, and <%= link_to "Github", "https://github.com/#{@user.github_username}" %>!</p>
    </div>
  <% end %>
  
  <div class="projects-container">
    <%= "#{@user.fname}'s Projects" %>
    <% @user.projects.each do |project| %>
      <%= image_tag project.image_url(:thumb).to_s %>
      <%= link_to project.project_url do %>
        <p><%= project.title %><p>
        <%= link_to "Delete", project_path(project.id), method: :delete %>
      <% end %>

    <% end %>

  </div>

  <% if current_user?(@user) || current_admin %>
    <div class="checklist-container">
      <h2 class="checklist-title">Things To Do Before September 8th:</h2>
      <ul>
        <% @todos.each do |todo| %>
          <% if current_user %>
            <% if UserTodo.where(user_id: current_user.id, todo_id: todo.id).any? %>
              <li class="line-item color">
                <span class="undo-btn" data-id="<%= todo.id %>">undo</span>
                <span class="check-btn" data-id="<%= todo.id %>"><%= image_tag("check.png", size: "20x20") %></span><%= todo.body %>
              </li>
            <% else %>
              <li class="line-item">
              <span class="check-btn" data-id="<%= todo.id %>"><%= image_tag("check.png", size: "20x20") %></span><%= todo.body %>
              </li>
            <% end %>
          <% elsif current_admin %>
            <% if Todo.joins(:user_todos)  %>
              <li class="line-item color">
              <span class="check-btn" data-id="<%= todo.id %>"><%= image_tag("check.png", size: "20x20") %></span><%= todo.body %>
              </li>
            <% else %>
              <li class="line-item">
              <span class="check-btn" data-id="<%= todo.id %>"><%= image_tag("check.png", size: "20x20") %></span><%= todo.body %>
               </li>
            <% end %>
          <% end %>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>
</div
