<div class="wrapper">
  <p>This should show user's profile</p>

  <% if current_admin %>
  <span class="admins-btn"><%= link_to "Admins Dashboard", admins_dashboard_path %></span>
  <% end %>

  <h3 class="username">
    <span class="update-from-bip", data-name="fname">
      <%= @user.fname %>
    </span>
    <span class="update-from-bip", data-name="lname">
      <%= @user.lname %>
    </span>
  </h3>

  <div class="column">

    <div>
      <%= image_tag @user.gravatar_url(default: "wavatar", :size => 200 ) %>
      <div>Edit profile image at:<br />
        <a href="https://en.gravatar.com/" target="_blank">Gravatar.com</a>.
      </div>
    </div>

    <%= link_to "https://github.com/#{@user.github_username}" do %>
      <span class="social-icon"><i class="fa fa-github-square"></i></span>
    <% end %>

    <%= link_to "http://#{@user.tumblr_username}.tumblr.com" do %>
      <span class="social-icon"><i class="fa fa-tumblr-square"></i></span>
    <% end %>

    <%= link_to "https://twitter.com/#{@user.twitter_username}" do %>
      <span class="social-icon"><i class="fa fa-twitter-square"></i></span>
    <% end %>

    <%= link_to "https://www.linkedin.com/in/#{@user.linkedin_username}"  do %>
      <span class="social-icon"><i class="fa fa-linkedin-square"></i></span>
    <% end %>
  </div>


  <div class="column">

    <% if current_user?(@user) %>
      <span class="edit-btn">Edit</span>
      <span class="done-btn">Done editing</span>
    <% end %>

    <div class="edit-container">
      <div>
        <span class="icon"><i class="fa fa-pencil"></i></span>
        <%= best_in_place @user, :fname, as: :input, url: edit_user_path(@user) %>
      </div>

      <div>
        <span class="icon"><i class="fa fa-pencil"></i></span>
        <%= best_in_place @user, :lname, as: :input, url: edit_user_path(@user) %>
      </div>

      <div>
        <h4>Location:</h4>
        <span class="icon"><i class="fa fa-pencil"></i></span>
        <%= best_in_place @user, :location, as: :input, url: edit_user_path(@user) %>
      </div>

      <div>
        <h4>Fun Fact About Me:</h4>
        <span class="icon"><i class="fa fa-pencil"></i></span>
        <%= best_in_place @user, :fun_fact, as: :textarea, url: edit_user_path(@user) %>
      </div>

      <div>
        <h4>Goals:</h4>
        <span class="icon"><i class="fa fa-pencil"></i></span>
        <%= best_in_place @user, :goal, as: :textarea, url: edit_user_path(@user) %>
      </div>

      <div>
        <h4>Prior Experience:</h4>
        <span class="icon"><i class="fa fa-pencil"></i></span>
        </i><%= best_in_place @user, :pre_wdi, as: :textarea, url: edit_user_path(@user) %>
      </div>
    </div>


    <div class="profile-container">
      <div>
        <h4>Location:</h4>
        <p class="update-from-bip", data-name="location">
          <%= @user.location %>
        </p>
      </div>

      <div>
        <h4>Fun Fact About Me:</h4>
        <p class="update-from-bip", data-name="fun_fact">
          <%= @user.fun_fact %>
        </p>
      </div>

      <div>
        <h4>Goals:</h4>
        <p class="update-from-bip", data-name="goal">
          <%= @user.goal %>
        </p>
      </div>

      <div>
        <h4>Prior Experience:</h4>
        <p class="update-from-bip", data-name="pre_wdi">
          <%= @user.pre_wdi %>
        </p>
      </div>
    </div>
  </div>


  <div class="projects-container">
    <h4><%= "#{@user.fname}'s Projects" %></h4>
    <% @user.projects.each do |project| %>
      <%= link_to project.project_url do %>
        <p><%= project.title %><p>
      <% end %>
    <% end %>
  </div>

<% if current_user?(@user) || current_admin %>
  <div class="checklist-container">
    <h2>Checklist</h2>
    <ul>
      <% @todos.each do |todo| %>
        <% if UserTodo.where(user_id: current_user.id, todo_id: todo.id).any? %>
          <li class="line-item color">
            <span class="undo-btn" data-id="<%= todo.id %>">undo</span>

            <span class="check-btn" data-id="<%= todo.id %>"><%= image_tag("check.png", size: "20x20") %></span><%= todo.body %>
          </li>
        <% else %>
           <li class="line-item">
            <span class="check-btn" data-id="<%= todo.id %>"><%= image_tag("check.png", size: "20x20") %></span><%= todo.body %>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
<% end %>
</div>
