<%= form_for current_user, url: edit_user_path(current_user.id) do |f| %>

  <p>In order to make the most of your time with us and to best prepare for life beyond the course, we recommend you to set up the following accounts:</p>
  <div>
    <%= f.label :github_username, "Github Username" %><br />
    <%= f.text_field :github_username, class: "form-control", placeholder: "Github Username" %>
  </div>

  <div>
    <%= f.label :twitter_username, "Github Username" %><br />
    <%= f.text_field :twitter_username, class: "form-control", placeholder: "Twitter Username" %>
  </div>

  <div>
    <%= f.label :tumblr_username, "Tumblr Username" %><br />
    <%= f.text_field :tumblr_username, class: "form-control", placeholder: "Tumblr Username" %>
  </div>

  <div>
    <%= f.label :linkedin_username, "LinkedIn Username" %><br />
    <%= f.text_field :linkedin_username, class: "form-control", placeholder: "LinkedIn Username" %>
  </div>
  
  <div><%= f.submit %></div>
<% end %>


