<p>Project Index</p>
<p>This should list all projects</p>

<% @projects.each do |project| %>

  <%= link_to project.project_url do %>
    <p><%= project.title %><p>
  <% end %>

  <%= image_tag project.image_url(:thumb).to_s %>

  <p>Submitted by: <%= project.user.fname %></p>

  <p><%= link_to "Delete", projects_path(project), method: :delete %></p>
<% end %>
