<div class="wrapper">

  <h1>Share a project</h1>

  <div class="upload-form">
    <%= form_for @project, :html => { :multipart => true } do |f| %>
      <%= f.label :title, "Title of your project:" %>
      <%= f.text_field :title,  :maxlength => 40, class: "form-control", autofocus: true, autocomplete: "off", placeholder: "Project title", required: true %><br>
      <%= f.label :description, "Description:" %>
      <%= f.text_area :description, :maxlength => 255, class: "description", autocomplete: "off", placeholder: "Briefly describe your project." %><br>
      <%= f.label :project_url, "Link to your project: " %>
      <%= f.text_field :project_url,  :maxlength => 100, class: "form-control", autocomplete: "off", placeholder: "http://username.github.io/projectname/", required: true %><br>
      <%= f.label :image, "Add a Screenshot:" %>
      <%= f.file_field :image %><br>
      <div class="upload"><span class="edit-btn"><%= f.submit %></span></div>
    <% end %>
  </div>
</div>
