<div class="wrapper">
<div class="invite-header">
  <span class="round-btn"><%= link_to "Dashboard", admins_dashboard_path %></span>
</div>
<h2><%= t "devise.invitations.new.header" %></h2>

<%= form_for @user, :url => user_invitation_path, :html => {:method => :post} do |f| %>
  <%= devise_error_messages! %>

  <div class="invitation-form">
    <% resource.class.invite_key_fields.each do |field| -%>
      <p><%= f.label field %><br />
      <%= f.text_field field, required: true %></p>
    <% end -%>

    <p class="invite-btn"><%= f.submit t("devise.invitations.new.submit_button") %></p>
  <% end %>
  </div>

  <div class="email-sent">
    <h2><span class="email-header">Email Sent</span></h2>
    <% @users.each do |user| %>
      <ul>
        <li><%= user.email %></li>
      </ul>
    <% end %>
  </div>

  <div class="accepted-invite">
    <h2><span class="email-header">Invitation Accepted</span></h2>
    <% @users_confirmed.each do |user| %>
      <ul>
        <li><%= user.email %></li>
      </ul>
    <% end %>
  </div>


</div>
